/* style css */

/*********************************************** Layout ***************************************************/

/* --------------------------------------------- Général ------------------------------------------------ */

body {
	background-image:url("../images/background.png");
	background-size:100%;
	background-attachment:fixed;
}

/* --------------------------------------------- Menu --------------------------------------------------- */

header nav .container-fluid ul li a span {
	padding-right:10px;
}

header nav .container-fluid {
/*	display:none; */
	padding-top:25px;
	padding-bottom:25px;
}

#active {
	color:white;
}

@media screen and (max-width: 768px)
{
    header ul {
		display:none;
	}
}

/* --------------------------------------------- Footer ------------------------------------------------- */

footer p {
	color:#AAAAAA;
	text-align:center;
}

/*********************************************** Page accueil *********************************************/

/* --------------------------------------------- Barre de navigation ------------------------------------ */

#barre_recherche {
	margin-top:15%;
	margin-bottom:5%;
	height:50%;
}

@media screen and (max-width: 992px)
{
	#barre_recherche {
		margin-top:25%;
	}
}

@media screen and (max-width: 768px)
{
	#barre_recherche {
		margin-top:25%;
	}
	
	#barre_recherche button {
		width:20%;
		margin-left:40%;
	}
}

@media screen and (max-width: 500px)
{
	#barre_recherche {
		margin-top:45%;
	}
}

/* --------------------------------------------- Carousel ----------------------------------------------- */

#carousel-example-generic {
	display:inline-block;
	margin-bottom:20%;
}

/*********************************************** Page inscription *****************************************/

/* --------------------------------------------- Formulaire d'inscription ------------------------------- */

#formulaire{
	margin-top:20%;
	margin-bottom:20%;
}

#formulaire legend{
	color:#EEEEEE;
}

.well{
	background-color:rgba(100,100,100,0.7);
}

#formulaire label{
	color:#EEEEEE;
}

#formulaire span{
	color:yellow;
}

#formulaire .form-group .info-bulle {
	margin-bottom:3%;
}

#formulaire .btn-primary{
	background-color:black;
	border-color:#AAAAAA;
	color:#AAAAAA;
}

#formulaire .btn-primary:hover{
	background-color:#353535;
	color:white;
}

/* s'affichera si correct */
#formulaire .correct{
	border-color:blue;
}


/* s'affichera (avec JS) si erreur */
#formulaire .problem{
	border-color:yellow;
}

@media screen and (max-width: 992px)
{
	#formulaire{
		margin-top:30%;
	}
}

@media screen and (max-width: 768px)
{
	#formulaire button{
		width:100%;
	}
}

@media screen and (max-width: 500px)
{
	#formulaire{
		margin-top:45%;
	}
}


