/* style css */

/*********************************************** Layout ***************************************************/

/* --------------------------------------------- Général ------------------------------------------------ */

* {
	margin:0;
	border:0;
	padding:0;
}

body {
	background-image:url("../images/background.png");
	background-size:100%;
	background-attachment:fixed;
}

/* --------------------------------------------- Menu --------------------------------------------------- */

header nav .container-fluid ul li a span {
	padding-right:10px;
}

header nav .container-fluid {
/*	display:none; */
	padding-top:25px;
	padding-bottom:25px;
}

#active {
	color:white;
}

@media screen and (max-width: 768px)
{
	.container {
		padding-left:0%;
		padding-right:0%;
	}

	.navbar-fixed-top {
		position:relative;
	}

	.navbar-nav li{
		text-align:center;
	}
}

/* --------------------------------------------- Page --------------------------------------------------- */

body #page{
	margin-bottom:10%;
}

@media screen and (max-width: 768px)
{
	body #page{
		margin-bottom:10%;
	}
}

@media screen and (max-width: 500px)
{
	body #page{
		margin-bottom:25%;
	}
}

/* --------------------------------------------- Footer ------------------------------------------------- */

footer p {
	color:#AAAAAA;
	text-align:center;
}

/*********************************************** Page accueil *********************************************/

/* --------------------------------------------- Barre de navigation ------------------------------------ */

#barre_recherche {
	margin-top:15%;
	margin-bottom:5%;
/*	height:50%;*/
}

@media screen and (max-width: 992px)
{
	#barre_recherche {
		margin-top:25%;
	}
}

@media screen and (max-width: 768px)
{
	#barre_recherche {
		margin-top:10%;
	}

	#barre_recherche button {
		width:20%;
		margin-left:40%;
	}
}

@media screen and (max-width: 500px)
{
	#barre_recherche {
		margin-top:5%;
	}
}

/* --------------------------------------------- Carousel ----------------------------------------------- */

#carousel-example-generic {
	display:inline-block;
	margin-bottom:20%;
}

@media screen and (max-width: 500px)
{
	#carousel-example-generic {
		margin-bottom:30%;
	}
}

/* --------------------------------------------- Affichage résultats recherche -------------------------- */

#lans_recherche .lan{
	margin-bottom: 5%;
	padding-top:2%;
	padding-bottom:2%;
	background-color:rgba(100,100,100,0.9);
}

#lans_recherche .lan span, blockquote{

	color:#EEEEEE;
}

#lans_recherche .lan blockquote{
	margin-top: 5%;
}

#lans_recherche #aucun_resultat{
	margin-top: 15%;
}

#lans_recherche #aucun_resultat span{
	padding-top:5%;
	padding-bottom:5%;
	text-align: center;
}

#lans_recherche .mouse-over {
	background-color: rgba(100,100,100,0.7);
	border-width:4px;
	border-color:white;
	border-style:solid;
}

@media screen and (max-width: 768px)
{
	#lans_recherche .lan span {
		display: block;
		text-align: center;
	}
}

@media screen and (max-width: 500px)
{
	#lans_recherche .lan #description {
		display: none;
	}
}

/*********************************************** Page inscription *****************************************/

/* --------------------------------------------- Formulaire d'inscription ------------------------------- */

#formulaire{
	margin-top:20%;
	margin-bottom:20%;
}

#formulaire legend{
	color:#EEEEEE;
}

.well{
	background-color:rgba(100,100,100,0.7);
}

#formulaire label{
	color:#EEEEEE;
}

#formulaire span{
	color:yellow;
}

#formulaire .form-group .info-bulle {
	margin-bottom:3%;
}

#formulaire .btn-primary{
	background-color:black;
	border-color:#AAAAAA;
	color:#AAAAAA;
}

#formulaire .btn-primary:hover{
	background-color:#353535;
	color:white;
}

/* s'affichera (avec JS) si correct */
#formulaire .correct{
	border-color:blue;
}


/* s'affichera (avec JS) si erreur */
#formulaire .problem{
	border-color:yellow;
}

@media screen and (max-width: 992px)
{
	#formulaire{
		margin-top:30%;
	}
}

@media screen and (max-width: 768px)
{
	#formulaire{
		margin-top:10%;
	}

	#formulaire button{
		width:100%;
	}
}

@media screen and (max-width: 500px)
{
	#formulaire{
		margin-top:5%;
	}
}

/*********************************************** Page connexion *****************************************/

#formulaire legend a{
	display: block;
	margin-left: 5%;
}

/*********************************************** Page d'une lan *****************************************/

#Unelan{
	background-color: white;
	margin-top: 10%;
}

#NomLan{
	font-family: Impact;
}

article{
	margin-top: 5%;
	margin-bottom: : 5%;
}

article h2, h4, p{
	color: white;
}

/* --------------------------------------------- Map ---------------------------------------------------- */

#idMap{
	height: 500px;
}

#infoMap{
	height: 500px;
}

#infoMap h3{
	color: white;
}

#infoMap .hotel {
	margin-top: 10%;
	border-width:1px;
	border-color:white;
	border-style:solid;
}

#infoMap .hotel p {
	color: white;
}

#infoMap .hotel .titre{
	text-decoration: underline;
}

#distance {
	margin-top: 2%;
}

/*********************************************** Page réservation ************************************/

/* --------------------------------------------- Map 2 --------------------------------------------- */

#idMapTtesLesLans{
	height: 700px;
	
}

#infoMapTtesLesLans{
	height: 700px;
	color : white;
}

#infoMapTtesLesLans a{
	color: white;
}

/*********************************************** Page erreur *****************************************/

#erreur{
	margin-top: 10%;
}

/*********************************************** Page contacts ***************************************/

#contact{
	margin-top: 10%;
	color :white;
}

/*********************************************** Page organisation *************************************************/

#formulaire #description span{
	color:black;
}

#formulaire .glyphicon-euro {
	color:black;
}

/************************************************ Trajet *************************************************************/

.caseTrajet{
	text-align: center;
}

#trajet{
	margin-top: 2%;
	margin-bottom: 4%;
}